<!DOCTYPE html>
<html>
{% load i18n mustache staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/skeleton.css" %}">
    <title>{% if settings.SITE_TITLE %} {{ settings.SITE_TITLE }}{% endif %}</title>
</head>
<body>
<div class="container">
<h1>hello</h1>
<h1>hello</h1>

<nav class="navbar top-bar" data-topbar role="navigation">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/weblog">Blog</a></li>
            {% if flatpages %}
            {% for flatpage in flatpages %}
            <li class="navbar-item"><a class="navbar-link" href="{{flatpage.url}}">{{flatpage.title}}</a></li>
            {% endfor %}
            {% endif %}
            <li class="navbar-item">
            <a class="navbar-link" href="#" data-popover="#codeNavPopover">Code</a>
            <div id="codeNavPopover" class="popover open">
              <ul class="popover-list">
                <li class="popover-item">
                  <a class="popover-link" href="#grid">Grid</a>
                </li>
                <li class="popover-item">
                  <a class="popover-link" href="#typography">Typography</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
</nav>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<h1>hello</h1>
<a href="{% url "set_device" "default" %}?next={{ request.path }}">{% trans "桌面版" %}</a>
</div>
<script src={% static "phodal/js/jquery-2.1.4.min.js" %}></script>
<script src={% static "js/navbar.js" %}></script>

</body>
</html>