{% load weblog  %}
<h2>附加信息</h2>
<div>
    {% if events %}
    <h3>活动</h3>
    <ul class="small-block-grid-1 large-block-grid-1">
        {% for event in events %}
        <li itemscope itemtype="http://schema.org/Event">
            <a href="{{ event.external_url }}" target="_blank" itemprop="url">{{ event.headline }}</a>
            <span class="meta" itemprop="name"><span>{{ event.date|date:"F j, Y" }}</span>  |
                <span itemprop="location">{{ event.location }}</span>
            </span>
            <i class="icon icon-calendar"></i>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>档案</h3>
    {% render_month_links %}

    <h3>RSS</h3>
    <ul class="small-block-grid-1 large-block-grid-1">
        <li><a href="{% url 'weblog-feed' %}">最新内容</a></li>
    </ul>
</div>
