<!doctype html>
<html lang="zh-cmn-Hans">
{% load i18n mustache staticfiles %}

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{% static "phodal/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "phodal/css/main.css" %}">
    {% block extend_seo %}{% endblock %}
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
</head>

<body itemscope itemtype="http://schema.org/WebPage">
{% include "includes/header.html" %}
<section role="main" class="scroll-container">
    <div class="row">
        <!--{% mustache 'template.html' %}-->
        {% block main %}
        <div class="large-9 medium-8 columns">
            {% block content %}{% endblock %}
            <a href="#top" class="backtotop"><i class="icon icon-chevron-up"></i> Back to Top</a>
        </div>
        <div class="large-3 medium-4 columns">
            {% block content-related %}{% endblock %}
            {% block content-extra %}{% endblock %}
        </div>
        {% endblock %}
    </div>

</section>

{% include "includes/footer.html" %}

</body>
</html>
