<!doctype html>
<html lang="zh-cmn-Hans">
{% load i18n mustache staticfiles %}

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-language" content="zh-CN"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{% static "phodal/css/foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "phodal/css/main.css" %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
</head>

<body itemscope itemtype="http://schema.org/WebPage">
{% include "includes/header.html" %}
<section role="main" class="scroll-container">
    <div class="row">
        <h1>Echoes CMS</h1>
        <div class="large-12 columns">
        <h2>Why Echoes?</h2>

        </div>
        <ul>
            <li>With Django,  take Web applications from concept to launch in a matter of hours!</li>
            <li>With Mustache, quickly build mobile version website!</li>
            <li>With Foundation, use flat style responsive layout!</li>
            <li>With RESTful API, quickly develop mobile app!</li>
        </ul>
    </div>

</section>

{% include "includes/footer.html" %}

</body>
</html>